.edit-user-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .edit-user-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .edit-user-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-user-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    margin-left: 5px;
  }
  
  .edit-user-input:focus {
    border-color: #888;
    outline: none;
  }
  
  .save-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #353d44;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .save-button:hover {
    background-color: #323435;
  }
  
  .delete-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
 
  .error {
  color: red;
  font-size: 12px;
  }

  .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
}

.popup p {
  margin: 0;
}
