/* Asegura que la sección principal ocupe el ancho completo */
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.services-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
  width: 100vw; /* Usar todo el ancho del viewport */
  max-width: 100%;
}

.services-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.service-item {
  flex: 1 1 200px;
  margin: 20px;
  text-align: center;
}

.service-icon {
  font-size: 4rem;
  color: #dc3545;
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Asegura que el contenedor del carrusel ocupe todo el ancho */
.carousel {
  width: 100vw; /* Usa toda la anchura del viewport */
  max-width: 100%;
  margin: 0;
}

.carousel-img {
  width: 100vw; /* Asegúrate de que las imágenes del carrusel ocupen todo el viewport */
  height: 500px; /* Ajusta esta altura si lo necesitas */
  object-fit: cover;
}

