.create-order-container {
  padding: 20px;
}

input, select {
  width: 100%;
  margin: 10px 0;
}

button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.centered-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Asegura que esté por encima de otros elementos */
}